body:not(.app-open) div.statusbar-overlay {
  display: none;
}
.page-content {
  margin-bottom: 1px;
}
.page {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.page:not([data-page="index"]) .page-content {
  padding-top: 64px;
}
html.with-statusbar-overlay body {
  padding-top: 0;
}
html.with-statusbar-overlay .navbar {
  height: 66px;
}
html.with-statusbar-overlay .navbar .navbar-inner {
  height: calc(100% - 20px);
  margin-top: 20px;
}
div.statusbar-overlay {
  background-color: #fff;
}
@media all and (min-width: 768px) {
  .popup:not(.tablet-fullscreen),
  .popup:not(.tablet-fullscreen) .view,
  .popup:not(.tablet-fullscreen) .pages,
  .popup:not(.tablet-fullscreen) .page,
  .popup:not(.tablet-fullscreen) .page-content {
    border-radius: 12px;
  }
  .popup:not(.tablet-fullscreen) .navbar {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}
.list-block .swipeout.deleting {
  -webkit-transform: translate3d(0, 0, 0);
}
.list-block .swipeout-actions {
  overflow: hidden;
}
.list-block .swipeout-actions-inner a,
.list-block .swipeout-actions-inner a div {
  min-width: 80px;
  text-align: center;
  padding: 0;
  display: block;
  box-align: stretch;
  align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -webkit-transition: -webkit-transform 300ms ease;
}
.list-block .swipeout-actions-inner a div {
  -webkit-transition: -webkit-transform 300ms ease !important;
}
.list-block .swipeout-actions-inner a.no-transition {
  transition: none;
  -webkit-transition: none;
}
.list-block .swipeout-actions-inner a.swipeout-open {
  -webkit-transform: translate3d(0, 0, 0);
}
.list-block .swipeout-actions-inner a::after,
.list-block .swipeout-actions-inner a div::after {
  content: " ";
  height: 100%;
  width: 500%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}
.list-block .swipeout-actions-inner a.red::after,
.list-block .swipeout-actions-inner a.red div,
.list-block .swipeout-actions-inner a.red div::after {
  background-color: #ff3b30;
}
.list-block .swipeout-actions-inner a.orange::after,
.list-block .swipeout-actions-inner a.orange div,
.list-block .swipeout-actions-inner a.orange div::after {
  background-color: #ff8810;
}
.list-block .swipeout-actions-inner a.gray::after,
.list-block .swipeout-actions-inner a.gray div,
.list-block .swipeout-actions-inner a.gray div::after {
  background-color: #c7c7cc;
}
.list-block .swipeout-actions-inner a.blue::after,
.list-block .swipeout-actions-inner a.blue div,
.list-block .swipeout-actions-inner a.blue div::after {
  background-color: #007aff;
}
.list-block .swipeout-actions-inner a.transition-to-open {
  -webkit-transition: -webkit-transform 300ms ease;
  -webkit-transform: translate3d(0, 0, 0);
}
.popup-startscreen {
  -webkit-transform: translate3d(0, 0, 0) scale(0.5) !important;
  -webkit-transition: opacity 400ms, -webkit-transform 400ms ease-in;
  opacity: 0;
}
.popup-startscreen.modal-in {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1) !important;
}
.popup-startscreen .page {
  background-color: #fff;
}
.popup-startscreen a.link {
  transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out;
}
.popup-startscreen a.link:active {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  opacity: 0.3;
}
div.portrait-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -180px;
  width: 320px;
  background-image: url(../img/rotate-homescreen.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 150px 230px;
  padding-top: 230px;
  display: none;
}
div.portrait-notice p {
  text-align: center;
  font-size: 23pt;
  color: #fff;
  font-weight: 300;
}
@-webkit-keyframes gear-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
div.update-view {
  z-index: 10000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
div.update-view img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-top: -37px;
  margin-left: -37px;
}
div.update-view img.inner-gear {
  -webkit-animation: gear-rotate 2s infinite;
  -webkit-animation-timing-function: linear;
}
div.update-view img.outer-gear,
div.update-view img.outer-gear-shadow {
  -webkit-animation: gear-rotate 4s infinite;
  -webkit-animation-timing-function: linear;
}
div.update-view div.progress-bar {
  position: relative;
  top: 50%;
  margin: 0px auto;
  margin-top: 85px;
  width: 200px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
div.update-view div.progress-bar div.inner-progress {
  height: 100%;
  width: 0%;
  background-color: #fff;
  -webkit-transition: width .5s linear;
  border-radius: 5px;
}
div.update-view p.restore-title {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 22pt;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.popup-startscreen {
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-height: 800px;
  margin: 0;
  padding: 0;
}
.popup-startscreen {
  min-width: 800px;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  -webkit-flex-direction: column;
  max-height: 100%;
}
.popup-startscreen.modal-in.no-transition {
  transition-duration: 0ms;
  -webkit-transition-duration: 0ms;
}
li,
p,
ul {
  margin: 0;
  padding: 0;
}
.EmphasisDisplay {
  display: block;
  font-size: 1.222rem;
  font-family: HelveticaNeue-Medium, "Helvetica Neue Medium";
  padding-bottom: 0.5em;
}
h1 {
  display: none;
}
@-webkit-keyframes move-up {
  from {
    -webkit-transform: translate(0, 0) scale(1);
  }
  to {
    -webkit-transform: translate(0, -80px) scale(0.9);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero {
  width: 100%;
  min-height: 190px;
  max-height: 205px;
  text-align: center;
  font-family: HelveticaNeue-Thin, "Helvetica Neue Thin";
  -webkit-flex-basis: 25%;
  -webkit-align-self: flex-end;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  padding-bottom: 35px;
  -webkit-animation-name: move-up;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
}
html[lang=ar] .hero,
html[lang=ja] .hero,
html[lang=ko] .hero,
html[lang=th] .hero {
  font-family: HelveticaNeue-Light;
}
.hero .Item {
  padding-top: 245px;
  -webkit-animation-name: move-up;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
}
.hero .title {
  white-space: nowrap;
  width: 100%;
  font-size: 4rem;
  -webkit-backface-visibility: hidden;
}
.hero .subtitle {
  white-space: nowrap;
  width: 100%;
  font-size: 2.333rem;
  color: #929292;
  -webkit-backface-visibility: hidden;
}
.hero .title,
.hero .subtitle {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
}
.callouts {
  -webkit-flex-basis: 75%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  min-height: 340px;
  max-height: 340px;
}
.callouts li {
  padding: 0 10px;
  color: #424242;
  opacity: 0;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  text-align: center;
}
.callouts li .Para {
  line-height: 1.4rem;
  margin: 0 auto;
}
.callouts li:nth-of-type(1) {
  width: 321px;
  min-width: 321px;
  -webkit-animation-delay: 1.95s;
}
html[lang=ja] .callouts li:nth-of-type(1) .Para:last-child {
  width: 290px;
}
html[lang=el] .callouts li:nth-of-type(1) .Para:last-child,
html[lang=fi] .callouts li:nth-of-type(1) .Para:last-child,
html[lang=ko] .callouts li:nth-of-type(1) .Para:last-child,
html[lang=nl] .callouts li:nth-of-type(1) .Para:last-child {
  width: 270px;
}
.callouts li:nth-of-type(1) .graphic {
  position: relative;
  width: 321px;
}
.callouts li:nth-of-type(2) {
  width: 305px;
  min-width: 305px;
  -webkit-animation-delay: 2.05s;
}
html[lang=cs] .callouts li:nth-of-type(2) .Para:last-child,
html[lang=fr] .callouts li:nth-of-type(2) .Para:last-child {
  width: 270px;
}
.callouts li:nth-of-type(2) .graphic {
  width: 305px;
}
.callouts li:nth-of-type(3) {
  width: 321px;
  min-width: 321px;
  -webkit-animation-delay: 2.15s;
}
.callouts li:nth-of-type(3) img {
  margin-right: 1px;
}
.callouts li:nth-of-type(3) .Para:last-child {
  width: 270px;
}
html[lang=es-mx] .callouts li:nth-of-type(3) .Para:last-child,
html[lang=fi] .callouts li:nth-of-type(3) .Para:last-child,
html[lang=fr] .callouts li:nth-of-type(3) .Para:last-child,
html[lang=ja] .callouts li:nth-of-type(3) .Para:last-child,
html[lang=nl] .callouts li:nth-of-type(3) .Para:last-child {
  width: 290px;
}
.callouts li:nth-of-type(3) .graphic {
  width: 321px;
}
.callouts li .Para:last-child .inlineGraphic {
  position: relative;
  top: 2px;
}
.callouts li .graphic {
  position: relative;
  height: 250px;
  text-align: center;
}
.link-container {
  font-size: 1.334rem;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-delay: 2.65s;
  -webkit-animation-fill-mode: both;
}
.link-container .Smaller a {
  font-size: 1.0rem;
}
.link-container a {
  color: #007aff;
  text-decoration: none;
}
body.tint-gray div.app-inner {
  border-color: #8e8e93 !important;
}
body.tint-gray div.app-inner img.app-icon,
body.tint-gray div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%238e8e93" width="53" height="53"/></svg>');
}
body.tint-gray p.app-subtitle {
  color: #8e8e93;
}
body.tint-gray a.link {
  color: #8e8e93 !important;
}
body.tint-gray .modal-buttons span {
  color: #8e8e93 !important;
}
body.tint-gray .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%238e8e93' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-gray .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%238e8e93" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%238e8e93" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-white div.app-inner {
  border-color: #ffffff !important;
}
body.tint-white div.app-inner img.app-icon,
body.tint-white div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%23ffffff" width="53" height="53"/></svg>');
}
body.tint-white p.app-subtitle {
  color: #ffffff;
}
body.tint-white a.link {
  color: #ffffff !important;
}
body.tint-white .modal-buttons span {
  color: #ffffff !important;
}
body.tint-white .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%23ffffff' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-white .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%23ffffff" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%23ffffff" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-black div.app-inner {
  border-color: #000000 !important;
}
body.tint-black div.app-inner img.app-icon,
body.tint-black div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%23000000" width="53" height="53"/></svg>');
}
body.tint-black p.app-subtitle {
  color: #000000;
}
body.tint-black a.link {
  color: #000000 !important;
}
body.tint-black .modal-buttons span {
  color: #000000 !important;
}
body.tint-black .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%23000000' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-black .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%23000000" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%23000000" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-lightblue div.app-inner {
  border-color: #5ac8fa !important;
}
body.tint-lightblue div.app-inner img.app-icon,
body.tint-lightblue div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%235ac8fa" width="53" height="53"/></svg>');
}
body.tint-lightblue p.app-subtitle {
  color: #5ac8fa;
}
body.tint-lightblue a.link {
  color: #5ac8fa !important;
}
body.tint-lightblue .modal-buttons span {
  color: #5ac8fa !important;
}
body.tint-lightblue .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%235ac8fa' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-lightblue .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%235ac8fa" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%235ac8fa" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-yellow div.app-inner {
  border-color: #ffcc00 !important;
}
body.tint-yellow div.app-inner img.app-icon,
body.tint-yellow div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%23ffcc00" width="53" height="53"/></svg>');
}
body.tint-yellow p.app-subtitle {
  color: #ffcc00;
}
body.tint-yellow a.link {
  color: #ffcc00 !important;
}
body.tint-yellow .modal-buttons span {
  color: #ffcc00 !important;
}
body.tint-yellow .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%23ffcc00' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-yellow .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%23ffcc00" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%23ffcc00" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-orange div.app-inner {
  border-color: #ff9500 !important;
}
body.tint-orange div.app-inner img.app-icon,
body.tint-orange div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%23ff9500" width="53" height="53"/></svg>');
}
body.tint-orange p.app-subtitle {
  color: #ff9500;
}
body.tint-orange a.link {
  color: #ff9500 !important;
}
body.tint-orange .modal-buttons span {
  color: #ff9500 !important;
}
body.tint-orange .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%23ff9500' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-orange .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%23ff9500" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%23ff9500" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-pink div.app-inner {
  border-color: #ff2d55 !important;
}
body.tint-pink div.app-inner img.app-icon,
body.tint-pink div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%23ff2d55" width="53" height="53"/></svg>');
}
body.tint-pink p.app-subtitle {
  color: #ff2d55;
}
body.tint-pink a.link {
  color: #ff2d55 !important;
}
body.tint-pink .modal-buttons span {
  color: #ff2d55 !important;
}
body.tint-pink .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%23ff2d55' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-pink .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%23ff2d55" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%23ff2d55" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-blue div.app-inner {
  border-color: #007aff !important;
}
body.tint-blue div.app-inner img.app-icon,
body.tint-blue div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%23007aff" width="53" height="53"/></svg>');
}
body.tint-blue p.app-subtitle {
  color: #007aff;
}
body.tint-blue a.link {
  color: #007aff !important;
}
body.tint-blue .modal-buttons span {
  color: #007aff !important;
}
body.tint-blue .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%23007aff' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-blue .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%23007aff" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%23007aff" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-green div.app-inner {
  border-color: #4cd964 !important;
}
body.tint-green div.app-inner img.app-icon,
body.tint-green div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%234cd964" width="53" height="53"/></svg>');
}
body.tint-green p.app-subtitle {
  color: #4cd964;
}
body.tint-green a.link {
  color: #4cd964 !important;
}
body.tint-green .modal-buttons span {
  color: #4cd964 !important;
}
body.tint-green .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%234cd964' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-green .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%234cd964" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%234cd964" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
body.tint-red div.app-inner {
  border-color: #ff3b30 !important;
}
body.tint-red div.app-inner img.app-icon,
body.tint-red div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%23ff3b30" width="53" height="53"/></svg>');
}
body.tint-red p.app-subtitle {
  color: #ff3b30;
}
body.tint-red a.link {
  color: #ff3b30 !important;
}
body.tint-red .modal-buttons span {
  color: #ff3b30 !important;
}
body.tint-red .toolbar .home-button {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'><g><path fill='%23ff3b30' d='M26.5,14.2c1.8,0,3.3,1.5,3.3,3.3v9.1c0,1.8-1.5,3.3-3.3,3.3h-9.1c-1.8,0-3.3-1.5-3.3-3.3v-9.1 c0-1.8,1.5-3.3,3.3-3.3H26.5 M26.5,12.5h-9.1c-2.7,0-5,2.2-5,5v9.1c0,2.7,2.2,5,5,5h9.1c2.7,0,5-2.2,5-5v-9.1 C31.5,14.7,29.3,12.5,26.5,12.5L26.5,12.5z'/></g></svg>");
}
body.tint-red .toolbar .launchpad {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve"><g><path fill="%23ff3b30" d="M33.5,10.5c-7.2,0.4-12.9,3.5-15.4,8.2l-1.6,0c-2.6,1.2-6.3,6.2-6,6.8c0.2,0.2,5-1.2,5-1 c-0.2,0.5-0.3,1-0.2,1.5c0.1,0.5,2.2,2.6,2.8,2.7c0.6-0.1,1.2-0.5,1.3-0.3c0.1,0.2-1.1,4.4-1,4.9c0.4,0.5,6.3-4.1,6.8-5.9l0-1.6 C30.6,23.3,33.6,15.3,33.5,10.5z M25.3,16.7c0-1.1,0.9-1.9,2-1.9c1.1,0,2,0.9,2,1.9c0,1.1-0.9,1.9-2,1.9 C26.1,18.6,25.3,17.8,25.3,16.7z"/><path fill="%23ff3b30" d="M16.6,29.2c-0.2,0.6-1.2,1.5-3.2,1.3c-0.1-0.8,0.2-3.1,1.7-3.1c-0.6-0.5-2.1-0.3-2.8,1 c-0.4,1.1-0.4,2.3-0.1,3.4c0.6,0.2,2.8,0.2,3.5-0.3C16.7,30.8,16.9,29.4,16.6,29.2z"/></g></svg>');
}
@media all {
  div.apps-wrapper {
    position: relative;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    display: inline-block;
  }
  div.apps-wrapper div.app-outer {
    position: relative;
    width: 160px;
    height: 160px;
    float: left;
  }
  div.apps-wrapper div.app-outer.add-apps {
    display: none;
  }
  div.apps-wrapper div.app-outer.add-apps div.app-inner {
    border-style: dashed !important;
  }
  div.apps-wrapper div.app-outer div.closebox {
    opacity: 0;
    pointer-events: none;
    cursor: default;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 9px;
    left: 4px;
    background-color: #000;
    border-radius: 16px;
    background-image: url("../img/closebox.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
  }
  div.apps-wrapper div.app-outer div.app-badge {
    opacity: 0;
    cursor: default;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 9px;
    right: 4px;
    background-color: #ff0000;
    border-radius: 16px;
    color: #fff;
  }
  div.apps-wrapper div.app-outer div.app-badge span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 13pt;
    text-align: center;
    line-height: 24px;
  }
  div.apps-wrapper div.app-outer.notification div.app-badge {
    opacity: 1;
  }
  div.apps-wrapper div.app-outer:not(.notification) div.app-badge {
    display: none;
  }
  div.apps-wrapper div.app-outer a.app {
    display: inline-block;
    width: 160px;
    height: 160px;
    position: relative;
  }
  div.apps-wrapper div.app-outer div.app-inner {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -64px;
    width: 128px;
    height: 90px;
    border: 1px solid #007aff;
    border-radius: 6px;
  }
  div.apps-wrapper div.app-outer div.app-inner img.app-icon,
  div.apps-wrapper div.app-outer div.app-inner svg {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -29px;
    margin-left: -29px;
    width: 58px;
    height: 58px;
    background-size: 53px 53px;
    background-repeat: no-repeat;
  }
  div.apps-wrapper div.app-outer p.app-title {
    position: relative;
    top: 90px;
    width: 100%;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    font-weight: 300;
    color: #000;
    font-size: 11pt;
    line-height: normal;
    margin: 0;
  }
  div.apps-wrapper div.app-outer p.app-subtitle {
    position: relative;
    top: 90px;
    width: 100%;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    font-weight: 300;
    font-size: 9pt;
    line-height: normal;
    margin: 0;
  }
  div.apps-wrapper.edit div.app-outer {
    -webkit-animation: wiggle 0.2s infinite;
  }
  div.apps-wrapper.edit div.app-outer.deleting {
    -webkit-animation: deleting 300ms forwards;
    -webkit-animation-timing-function: ease-out;
  }
  div.apps-wrapper.edit div.app-outer.deleting div.closebox {
    display: none;
  }
  div.apps-wrapper.edit div.app-outer.more-apps {
    display: none;
    pointer-events: none;
    cursor: default;
    -webkit-animation: none;
  }
  div.apps-wrapper.edit div.app-outer.add-apps {
    display: block;
    -webkit-animation: none;
  }
  div.apps-wrapper.edit div.app-outer.add-apps a.app {
    pointer-events: all;
  }
  div.apps-wrapper.edit div.app-outer.add-apps a.app div.app-inner {
    transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out;
  }
  div.apps-wrapper.edit div.app-outer.add-apps a.app:active div.app-inner {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    opacity: 0.3;
  }
  div.apps-wrapper.edit a.app {
    pointer-events: none;
  }
  div.apps-wrapper.edit div.closebox {
    opacity: 1 !important;
    cursor: pointer !important;
    pointer-events: all !important;
  }
  div.apps-wrapper:not(.edit) a.app div.app-inner {
    transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out;
  }
  div.apps-wrapper:not(.edit) a.app:active div.app-inner {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    opacity: 0.3;
  }
}
@media all and (min-width: 768px), all and (orientation: landscape) {
  div.apps-wrapper:not(.phone) {
    position: relative;
    left: 50%;
    margin-left: -315px;
    width: 630px;
  }
  div.apps-wrapper:not(.phone) div.app-outer {
    width: 210px;
    height: 210px;
    float: left;
  }
  div.apps-wrapper:not(.phone) div.app-outer div.closebox {
    top: 34px;
    left: 30px;
  }
  div.apps-wrapper:not(.phone) div.app-outer div.app-badge {
    top: -12px;
    right: -12px;
  }
  div.apps-wrapper:not(.phone) div.app-outer a.app {
    display: inline-block;
    width: 210px;
    height: 210px;
    position: relative;
  }
  div.apps-wrapper:not(.phone) div.app-outer div.app-inner {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -64px;
    width: 128px;
    height: 90px;
    border: 1px solid #007aff;
    border-radius: 6px;
  }
  div.apps-wrapper:not(.phone) div.app-outer div.app-inner img.app-icon,
  div.apps-wrapper:not(.phone) div.app-outer div.app-inner svg {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -29px;
    margin-left: -29px;
    width: 58px;
    height: 58px;
  }
  div.apps-wrapper:not(.phone) div.app-outer p.app-title {
    position: relative;
    top: 120px;
    width: 100%;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    font-weight: 300;
    color: #000;
    font-size: 12pt;
    line-height: normal;
    margin: 0;
  }
  div.apps-wrapper:not(.phone) div.app-outer p.app-subtitle {
    position: relative;
    top: 120px;
    width: 100%;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    font-weight: 300;
    font-size: 10pt;
    line-height: normal;
    margin: 0;
  }
}
body.layout-dark img.app-icon-light {
  display: none;
}
body.layout-dark div.app-inner {
  border-color: #fff !important;
}
body.layout-dark div.app-inner img.app-icon,
body.layout-dark div.app-inner svg {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" enable-background="new 0 0 53 53" xml:space="preserve"><rect x="5" y="5" fill="%23ffffff width="53" height="53"/></svg>');
}
body.layout-dark div.app-outer p.app-title {
  color: #fff !important;
}
body.layout-default img.app-icon-dark {
  display: none;
}
div.apps-home,
div.pages {
  background-color: transparent !important;
}
.toolbar span {
  font-size: 32px;
}
.toolbar .home-button {
  width: 44px;
  height: 44px;
  background-position: center center;
  background-size: 44px 44px;
}
.toolbar .launchpad {
  width: 44px;
  height: 44px;
  background-position: center center;
  background-size: 44px 44px;
}
.view:not([data-page="bugs-open"]) a.compose {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(2deg);
  }
  50% {
    -webkit-transform: rotateZ(-2deg);
  }
}
.apps-home.page-from-center-to-left {
  animation: none;
  -webkit-animation: scale-out 400ms forwards;
}
.app.page-from-right-to-center {
  animation: none;
  -webkit-animation: scale-in 400ms forwards;
}
.app.navbar-from-right-to-center * {
  -webkit-transition: opacity 300ms !important;
  -webkit-transition-delay: 0ms !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  opacity: 1;
}
.app.navbar-from-center-to-right * {
  -webkit-transition: opacity 300ms !important;
  -webkit-transition-delay: 0ms !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  opacity: 0;
}
.apps-home.navbar-from-center-to-left * {
  -webkit-transition: opacity 0ms !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -webkit-animation: none !important;
  opacity: 0;
}
.apps-home.navbar-from-left-to-center * {
  -webkit-transition: opacity 300ms !important;
  -webkit-transition-delay: 200ms !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  opacity: 0;
}
.app.page-from-center-to-right,
.page.page-home-button-to-right {
  -webkit-animation: scale-out-back 400ms forwards;
  animation: scale-out-back 400ms forwards;
}
.apps-home.page-from-center-to-left {
  -webkit-animation: scale-out 400ms forwards;
  animation: scale-out 400ms forwards;
}
.apps-home.page-from-left-to-center,
.page.page-home-button-from-left {
  -webkit-animation: scale-in-back 400ms forwards;
  animation: scale-in-back 400ms forwards;
}
@-webkit-keyframes scale-in {
  from {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-out {
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes scale-in-back {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes scale-out-back {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes deleting {
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0);
    opacity: 0;
  }
}
.slider-slide {
  position: relative;
}
.slider-slide:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 100%;
  background-image: linear-gradient(90deg, #c8c7cc, #c8c7cc 50%, transparent 50%);
  z-index: 10000;
}
@media all and (max-width: 767px) {
  div.page[data-page="tips"] img.app-icon.ipad {
    display: none;
  }
  div.page[data-page="tips"] img.app-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 16.021127%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
  }
  div.page[data-page="tips"] p.tips-start-title {
    margin-top: 204px;
    font-weight: 100;
    font-size: 29pt;
    text-align: center;
    width: 100%;
  }
  div.page[data-page="tips"] p.tips-subtitle {
    text-align: center;
    margin-top: 12px;
    color: #8e8e93;
    font-weight: 400;
    font-size: 13pt;
  }
  div.page[data-page="tips"] a.start-learning {
    position: absolute;
    bottom: 13.204225%;
    width: 100%;
    text-align: center;
    font-size: 16pt;
  }
  img.tips-img {
    max-width: 100%;
    float: left;
    margin-top: -20px;
  }
  div.tips-content-scroll {
    width: 100%;
    max-height: calc(100% - 280px);
    float: left;
    overflow: scroll;
  }
  div.tips-content-scroll p.tips-title {
    float: left;
    width: calc(100% - 40px);
    font-size: 20pt;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 26px;
    color: #000;
  }
  div.tips-content-scroll p.tips-content {
    float: left;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    color: #8e8e93;
    font-size: 13pt;
    padding-bottom: 20px;
  }
  div.tips-content-scroll span.a11y {
    display: none;
  }
}
@media all and (min-width: 768px) {
  div.page[data-page="tips"] img.app-icon.iphone {
    display: none;
  }
  div.page[data-page="tips"] img.app-icon {
    width: 76px;
    height: 76px;
    position: absolute;
    top: 29.817708%;
    left: 50%;
    margin-top: -38px;
    margin-left: -38px;
  }
  div.page[data-page="tips"] p.tips-start-title {
    margin-top: 359px;
    font-weight: 100;
    font-size: 29pt;
    text-align: center;
    width: 100%;
  }
  div.page[data-page="tips"] p.tips-subtitle {
    text-align: center;
    margin-top: 12px;
    color: #8e8e93;
    font-weight: 400;
    font-size: 13pt;
  }
  div.page[data-page="tips"] a.start-learning {
    position: absolute;
    bottom: 9.765625%;
    width: 100%;
    text-align: center;
    font-size: 16pt;
  }
  div.image-wrapper {
    position: absolute;
    width: 768px;
    height: 100%;
    background-color: #f9f9f9;
  }
  img.tips-img {
    width: 768px;
    float: left;
  }
  p.tips-title {
    float: left;
    font-size: 27pt;
    font-weight: 300;
    margin-left: 39px;
    margin-right: 53px;
    margin-top: 68px;
    color: #000;
  }
  div.tips-content-scroll {
    max-width: 410px;
    min-height: 100%;
    float: right;
    background-color: #fff;
    position: absolute;
    right: 0;
  }
  p.tips-content {
    float: left;
    margin-left: 39px;
    margin-right: 53px;
    color: #8e8e93;
    font-size: 15pt;
  }
  span.a11y {
    display: none;
  }
}
@media all and (min-width: 768px) and (orientation: portrait) {
  div.tips-content-scroll {
    top: 50%;
    max-width: 100%;
  }
  img.tips-img {
    margin-top: -50px;
  }
}
@media all and (-webkit-device-pixel-ratio: 1) {
  div.page[data-page="tips"] img.app-icon.retina {
    display: none;
  }
}
@media all and (-webkit-device-pixel-ratio: 2) {
  div.page[data-page="tips"] img.app-icon:not(.retina) {
    display: none;
  }
}
.view[data-page*="setup"] .navbar {
  border-bottom-color: transparent !important;
}
